/* === Home grid === */
.home-modules-container {
  layout: grid;
  grid-size: 3 4;              
  grid-columns: 36 36 1fr;     
  grid-rows: auto auto auto 1fr;
  grid-gutter: 1;
}

/* Place the three columns */
#col-left   { grid-columns: 1; grid-rows: 1; row-span: 4; layout: vertical; }
#col-middle { grid-columns: 2; grid-rows: 1; row-span: 4; }
#col-right  { grid-columns: 3; grid-rows: 1; row-span: 4; }

